{% extends 'base.html'%}
{% import 'macros.html' as macro %} 
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/style.css')}}">
{% endblock %}
/home/moringa/Desktop/Python/pitches/app/static/css/style.css
{% block content %}
<div class="bgdisplay" style="background: url(../static/images/bg.jpg); 
height: 100vh;
background-position: center;
">
<div class="home text-center ">
  <div style="color: white;
  padding-top: 30vh;">
  <h1>WELCOME TO PITCH PERFECT !!</h1>
  <p>"You'll never get a second chance to make a great first impression."</p>
  </div>
  <a href="{{url_for('auth.login')}}" class= 'btn btn-success'> START PITCHING</a>
  
</div>
</div>
{% endblock %}